*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
#service{
	height:100vh;
	background-color:#fff;
	padding:10x 0;
}
.container{
	padding:20px;
	width:90%;
	margin:auto;
	background-color:#fff;
}
.service-row{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	align-content:space-between;
	/* height:100vh; */	
	background-color:#fff;
}
.col{
	/* width:33.33%; */
	padding:2rem;
	position:relative;
}

p{
	/* font-size:11px; */
	padding:18px;
}
.card,.card2{
	border:2px solid #000;
	background-color:#fff;
	text-align:center;	
	padding:10px;	
}
h2{
	text-transform:capitalize;
}
img{
	width:100%;
}
.card-pic{
	width:100%;
	margin:auto;
}
button{
	width:50%;
	padding:2px;
	background-color:#000;
	color:#fff;
}
button:hover{
	box-shadow:0 0 15px #000;
	color:black;
	background-color:#fff;
}
.card2:hover{
	box-shadow:0 0 15px #000;
	position:absolute;
	top:-0.1rem;
}
.card:hover{
	box-shadow:0 0 15px #000;
}
